  <html>
  <head>
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/bootstrap.min.css?123">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  </head>
  <body >

  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <a class="navbar-brand" href="/">Plats</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      {% if session['role'] == '0' %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Assignments
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="assignment">Create assignment</a>
          <a class="dropdown-item" href="update_assignments">Update assignments</a>
          <a class="dropdown-item" href="view_assignments">View assignments</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Class
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="create_class">Create class</a>
          <a class="dropdown-item" href="update_class">Update class</a>
          <a class="dropdown-item" href="view_classes">View classes</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Students
        </a>
        
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/create_student">Create student</a>
          <a class="dropdown-item" href="/update_student">Update student</a>
          <a class="dropdown-item" href="/delete_student">Delete student</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Connections
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="connect_class_student">Class and student</a>
          <a class="dropdown-item" href="check_connection">Check Connections</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/classes">Classes</a>
      </li> 

        {% endif %} 
      <a class="nav-link" style="color:red" href="/logout">Logout</a>
      
    </ul>

  </div>
</nav>