
    {% include 'include/navbar.html' %}

<div class="col-sm-4 col-centered">
    <div class="wrapper">

 {% if message is defined %}
      <br>
         <div class="alert alert-success" role="alert">
        {{ message }}
        </div> 
      {% endif %}

      <form class="form-signin"  action="/create_student" method="POST">       
        <h2 class="form-signin-heading text-center">Create Student</h2>
        <hr class="divider">
        <div class="form-group">
        <input type="text" class="form-control" name="fname" placeholder="First Name" required autofocus="" maxlength="20" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="lname" placeholder="Last Name" required autofocus="" maxlength="20" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Username" required autofocus="" maxlength="20" />
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password" required="" maxlength="20" /> 
        </div>     
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create student</button>   
      </form>
    </div>
   </div>

   {% include 'include/footer.html' %}