  {% include '/include/navbar.html' %}
<div class="col-sm-4 col-centered">
    <div class="wrapper">

       {% if message is defined %}
      <br>
         <div class="alert alert-success" role="alert">
        {{ message }}
        </div> 
      {% endif %}


      <form class="form-signin"  action="/delete_class" method="POST"> 
<h2 class="form-signin-heading text-center">Delete Class</h2> 
<hr class="divider">
    <label for="exampleFormControlSelect1">Select class id</label>
    <div class="form-group">
    <select class="form-control" id="exampleFormControlSelect1" name='id'>
    	{% for i in data %}
    	<option value="{{ i[0] }}">{{ i[0] }}</option>
    	{% endfor %}
    </select>
</div>
<div class="form-group">
    <button class="btn btn-lg btn-danger btn-block" type="submit">Delete class</button> 
</div>
	</form>
  </div>
</div>


  {% include 'include/footer.html' %}